*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
#preloader{
  position: fixed;
  width: 100%;
  height: 100vh;
  background:#fff url('Assets/crane\ pageloader.gif')
  no-repeat center;
  background-size: 20%;
  z-index: 999999;
}

.logo{
position: sticky;
/* border: 2px solid black; */
height: 75px;
width: 75%;
left: 150px;
margin: auto;
}
.logo img{
    position: relative;
    left: 0px;
}

.logo span{
    position: relative;
    left: 20px;
    font-size: 30px;
    top: 13px;
}
.services img{
    display: block;
    margin: auto;
    position: relative;
    top: -131px;
}
.services span{
    position: relative;
    left: 608px;
    top: 5px;
    font-size: 35px;
}

.ImageSliding{
    position: relative;
    top: -75px;
    background-size:cover;
}

.discription{
    border: 2px solid black;
    text-align: center;
}

/* home Image Slider */
.ImageSliding{
position: relative;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}
.ImageSliding::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6) url(https://images.unsplash.com/photo-1625722662233-297060231b85?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80)no-repeat;
    background-size:cover;
    background-blend-mode: darken;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: scaleX(1.5);
    animation: slider 12s infinite linear;
}
@keyframes slider{
    0%{background: rgba(0,0,0,0.6) url(https://images.unsplash.com/photo-1625722662233-297060231b85?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80)no-repeat; background-size:cover ;background-blend-mode: darken;}
    35%{background: rgba(0,0,0,0.6) url(https://media.istockphoto.com/photos/compressor-station-picture-id171209447?b=1&k=20&m=171209447&s=170667a&w=0&h=bHsom9Iz3GVzUYSAG2-lCcQbyEV437_RCp6-aGM7uI8=)no-repeat;background-size:cover ;background-blend-mode: darken;}
    75%{background: rgba(0,0,0,0.6) url(https://images.unsplash.com/photo-1612878100556-032bbf1b3bab?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8amNifGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)no-repeat;background-size:cover ;background-blend-mode: darken;}
}
.ImageSliding .content{
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}
.ImageSliding .content h2{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size:3em;
}
.ImageSliding .content p{
    color: #fff;
    font-size: 1.2em;
}



/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* .active, .dot:hover {
    background-color: #717171;
  } */
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* media query */
  @media screen and (max-width: 795px) {
    .logo{
      width: 100%;
}
.logo span {
  font-size: 17px;
  top: 0;
  left: 0;
}
.title{
  font-size: 20px;
}
.row{
  flex-direction: column;
}
.owl{
  width: 100% !important;
}
.dis{
  width: 100% !important;
}
.aboutDis{
    margin: auto;
    position: relative;
    top: 10px;
}
.footerImg{
  height: 40px;
}

  }

@media screen and (max-width: 795px){
  .logo span{
    font-size: 15px;
  }
}

@media screen and (max-width: 300px){
  .logo span{
    font-size: 12px;
  }
}
  /* secvices */
.sCardTitles{
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
.footeF{
  font-size: 13px;
  font-family: Poppins,sans-serif;
}

