*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
#preloader{
  position: fixed;
  width: 100%;
  height: 100vh;
  background:#fff url('Assets/crane\ pageloader.gif')
  no-repeat center;
  background-size: 20%;
  z-index: 999999;
}

/* scroll Down Button  */
.srollDown{
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
}
.srollDown::before{
  content: '';
  position: absolute;
  left: -10px;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
}
.srollDown::after{
  content: '';
  position: absolute;
  top: 0;
  left: -6px;
  width: 2px;
  height: 50px;
  background: #fff;
  animation: animate 2s linear infinite;
}
@keyframes animate{
  0%{
    transform-origin: top;
    transform: scaleY(0) ;
  }

  45%{
    transform-origin: top;
    transform: scaleY(1) ;
  }

  55%{
    transform-origin: bottom;
    transform: scaleY(1) ;
  }
  100%{
    transform-origin: bottom;
    transform: scaleY(0) ;
  }
}

.srollDown p{
  position: absolute;
  text-align: center;
  width: 180px;
  top:180%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.logo{
position: sticky;
/* border: 2px solid black; */
height: 75px;
width: 75%;
left: 150px;
margin: auto;
}
.logo img{
    position: relative;
    left: 0px;
}

.logo span{
    position: relative;
    left: 20px;
    font-size: 30px;
    top: 13px;
}
.services img{
    display: block;
    margin: auto;
    position: relative;
    top: -131px;
}
.services span{
    position: relative;
    left: 608px;
    top: 5px;
    font-size: 35px;
}

.ImageSliding{
    position: relative;
    top: -75px;
    background-size:cover;
}

.discription{
    border: 2px solid black;
    text-align: center;
}

/* home Image Slider */
.ImageSliding{
position: relative;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}
.ImageSliding::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5) url(building-construction-final_adobespark.jfif)no-repeat;
    background-size:cover;
    background-blend-mode: darken;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: scaleX(2.0);
    animation: slider 12s infinite linear;
}
@keyframes slider{
    0%{background: rgba(0,0,0,0.5) url(building-construction-final_adobespark.jfif)no-repeat; background-size:cover ;background-blend-mode: darken;}
    35%{background: rgba(0,0,0,0.5) url(industrial\ wide.jfif)no-repeat;background-size:cover ;background-blend-mode: darken;}
    75%{background: rgba(0,0,0,0.5) url(power\ wide_adobespark.jfif)no-repeat;background-size:cover ;background-blend-mode: darken;}
}
.ImageSliding .content{
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}
.ImageSliding .content h2{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size:3em;
}
.ImageSliding .content p{
    color: #fff;
    font-size: 1.2em;
}



/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* .active, .dot:hover {
    background-color: #717171;
  } */
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* media query */
  @media screen and (max-width: 795px) {
    .logo{
      width: 100%;
}
.logo span {
  font-size: 17px;
  top: 0;
  left: 0;
}
.title{
  font-size: 20px;
}
.row{
  flex-direction: column;
}
.owl{
  width: 100% !important;
}
.dis{
  width: 100% !important;
}
.aboutDis{
    margin: auto;
    position: relative;
    top: 10px;
}
.footerImg{
  height: 40px;
}
.srollDown{
  top: 110%;
}

  }

@media screen and (max-width: 795px){
  .logo span{
    font-size: 15px;
  }
  .srollDown{
    top: 110%;
  }
}

@media screen and (max-width: 300px){
  .logo span{
    font-size: 12px;
  }
  .srollDown{
    top: 110%;
  }
}
  /* secvices */
.sCardTitles{
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.footeF{
  font-size: 13px;
  font-family: Poppins,sans-serif;
}


